body {
	background-image: none;
	background-repeat: no-repeat;
    background-attachment: fixed;
	background-size: auto 100%;
    background-position: center top;
}

@media only screen and (min-width: 991px) {
	body {
		background-image: url("http://library.albany.edu/speccoll/findaids/eresources/static/img/bg.jpg");
	}
}

@media only screen and (min-width: 1100px) {
	body {
		background-size: 100% auto;
	}
}

body > .container .panel {
	/*box-shadow: 0 0 20px #FFFFFF;*/
}	

#page-content-wrapper {
	padding: 0px;
}

.navbar {
	margin-bottom: 0px;
}

.container-fluid {
	padding-left: 0px;
	padding-right: 0px;
}


#mainContent {
	max-width: 1150px;
	background-color: #FFFFFF;
	box-shadow: 0 0 10px #FFFFFF;
	/*padding: 20px 25px 5px 25px;*/
	margin: auto;
	/*padding: 30px;*/
	padding-top: 130px;
}

.noResults {
	padding-top: 30px !important;
}

#mainContent .forms {
	margin: 0px;
}


#mainContent .forms .nav-justified li {
	background-color: #EEEEEE;
	border-left: 1px solid #DDDDDD;
	border-right: 1px solid #DDDDDD;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}
#mainContent .forms .nav-justified li.active {
	background-color: #FFFFFF;
}

.btn-group-wrap {
    text-align: center;
}

#mainContent .forms .btn-group {
	margin: 0 auto;
	text-align: center;
}

#mainContent .forms .btn-group a:hover {
	background-color: #EBE6F0;
	color: #512D6D;
}

#mainContent .forms .nav-justified li:hover a {
	background-color: #EBE6F0 !important;
}

#main-content {
	width: auto !important;
}

@media (min-width: 767px) {
	#main-content {
		margin: 20px;
	}
}

.sequence {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	margin: 0px;
	margin-top: 20px;
}

.well h4 {
	margin: 10px auto;
	text-align: center;
}

.well {
	width: 300px;
}

#mainContent  p {
	font-size: 11pt !important;
}

/*Big Search Box*/
	.searchBig a {
		color: #EBE6F0;
	}
	.searchBig .sequence {
		padding-bottom: 10px;
		padding-top: 10px;
		display: flex;
		flex-flow: row wrap;
		justify-content: space-around;
	}
	.searchBig .sequence * {
		margin: 5px;
	}
	.searchBig {
	padding: 20px 20px;
	height: auto;
	background-color: #512d6d;
	}
	.searchBig .btn-primary {
		background-color: #EBE6F0;
		color: #403a60;
		border-color: #403a60;
		border-radius: 0px;
	}
	.searchBig .input-group {
		margin: 0 auto;
		
		width: 100%;
		display: block !important;
		font-size: 25pt;
	}
	.searchBig .searchBox .input-group input {
		height: 70px;
		margin: 0 auto;
		vertical-align: middle;
		font-size: 30pt;
		width: 85% !important;
		max-width: 100% !important;
	}
	@media (max-width: 600px) {
		.searchBig .input-group-btn {
			display: block;
			margin: 0px auto;
			width: 70px;
		}
		.searchBig .input-group-btn button {
			margin-top: 10px;
		}
		.searchBox .input-group input {
			width: 100% !important;
			border-top-right-radius: 5px !important;
			border-bottom-right-radius: 5px !important;
		}
	}
	.searchBig  .input-group-btn {
		width: 40% !important;
	}
	.searchBig .btn-primary:hover {
		color: #EBE6F0;
	}
	.searchBig  .searchBox .input-group .btn {
		height: 70px;
		vertical-align: middle;
		font-size: 20pt;
		float: right;
		width: 100%;
	}
	
	.searchBig  .nav-tabs {
	margin-bottom: 20px;
}

.searchBig  .nav-tabs li.active a {
	background-color: #EBE6F0;
}

.nav-tabs li.active a:hover {
	background-color: #ffffff;
}

.searchBig .input-group-btn .btn {
	margin-left: 10px !important;
}

.searchBig  .nav-tabs li a:hover {
	background-color: #eaaa00; 
	color: #ffffff;
	border-color: #512D6D;
	border-bottom: 1px solid #EBE6F0;
}

.searchBig {
	margin-bottom: 30px;
	margin-top: 20px;
}


.searchBig .sequence .glyphicon {
	font-size: 7pt;
	top: 0px;
}

#menu-toggle {
	display: none;
}

#browseNav {
	display: none;
}

.sequence {
	padding-left: 0px;
	padding-right: 0px;
}

@media (max-width: 767px) {
	#mainContent {
		padding-left: 0px;
		padding-right: 0px;
	}
}

@media (min-width: 767px) {
	#page-content-wrapper {
		padding-left: 0px !important;
	}
}